<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

    <section>
        <form th:method="PATCH" th:action="@{/college/{id}(id=${person.getId()})}" th:object="${person}">
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" id="name" minlength="2">
            <br>
            <label for="surName">surName</label>
            <input type="text" th:field="*{surName}" id="surName" minlength="2">
            <br>
            <label for="group">Group</label>
            <input type="number" th:field="*{group}" id="group" min="100" max="110">
            <br>
            <input type="submit" value="Update!"/>
        </form>

    </section>

</body>
</html>